<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/03c9047a65.js"
      crossorigin="anonymous"
    ></script>
    <title>The Dream Team</title>
</head>
<body>
    <div class="jumbotron text-center"
        style="background-image: linear-gradient(rgb(8, 70, 26),rgba(3, 15, 2, 0.966)); color:antiquewhite">
        <h1 class="display-4">My Team</h1>
        <p class="lead">
            "If I have seen further, it is by standing on the shoulders of giants."
            – Isaac Newton
        </p>
        <hr class="my-4" style="background-color: antiquewhite;" />
    </div>
    <div class="container">
        <div class="card-columns">
            {{main}}
        </div>
    </div>
</body>
</html>