
<div class="col-md-4">
<div class="card border-secondary mb-3 text-center" style="max-width: 18rem; background-color: rgba(223, 59, 59, 0.212);">
    <div class="card-header bg-transparent border-secondary">{{name}}</div>
    <div class="card-body text-secondary">
      <h5 class="card-title"><i class="far fa-check-circle fa-1x"></i> Manager</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{id}} </li>
        <li class="list-group-item">Email: <a href="mailto:">{{email}}</a></li>
        <li class="list-group-item">Office# {{officeNumber}}</li>
      </ul>
    </div>
    <div class="card-footer bg-transparent border-secondary"></div>
  </div>
</div>

